@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
input {
	color:#fff;	
}

.input {
  color: #fff; }

  .thing{
transform: translate(-100%, 0);
  }
