@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "test";
@import "beforetest";
input {
	color:#fff;	
}

.input {
  color: #fff; 
}

.autoprefix-test{
	transform: translate(-100%, 0);
}
