# AngularBonfire ignores
node_modules
public/assets/bower_components
npm-debug.log
# AngularBonfire includes
!public/themes/angular-bonfire/*
!application/modules/testing/*
!gulpfile.js
!bower.json
!package.json
