h1.ability {
  font-size: 45px; }

h1.account {
  font-size: 23px; }

h1.h1-signup {
  font-size: 35px; }

/* @import '../../../../../.'; root of Bonfire application */
.susy {
  color: green; }

.part {
  color: #778899; }

/* testing imports */
.partial h3 {
  background: #659D32; }
